/* Navigation Bar start*/
.navbar {
    overflow: hidden;
    position: fixed;
    background-color: #1f271b;
    height: 48px;
    width: 100vw;
    left: 0;
    top: 0;
}

.navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 3px;
}

.navbar a:hover {
    background-color: #124d83;
    color: white;
}

.navbar a.active {
    background-color: #145c9e;
    color: white;
}
/* Navigation Bar end*/

/* Footer start */
.footer {
    left: 0;
    text-align: center;
    background-color: #1f271b;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100px;
    color: white;
}

.footer-logo {
    height: 40px;
    background-repeat: no-repeat;
    background-image: url("../Assets/Navbar/Logo.png");
    background-position: 50% 8px;
    background-size: 170px
}

.footer-text {
    font-size: 15px;
}
/* Footer end */

/*
    Colors:

    Black: #1f271b
    Dark blue: #0b4f6c
    Light blue: #145c9e
    Dark Silver: #cbb9a8
    Skin color: #dcc7be
*/