.header {
    display: table;
    margin-right: auto;
    margin-left: auto;
    background-color: #2a2c2a;
}

.text-wrapper {
    display: block;
    padding-top: 250px;
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
    color: white;
    position: relative;
}

#typewriter {
    color: white;
}

.contact-container {
    display: table;
    margin-right: auto;
    margin-left: auto;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: small-caps;
    text-align: center;
}

.contact-img {
    height: 50px;
    padding-right: 15px;
}