body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Bar */
.navbar {
    overflow: hidden;
    background-color: #1f271b;
    height:48px;
}

.navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #124d83;
    color: white;
}

.navbar a.active {
    background-color: #145c9e;
    color: white;
}

/* Header */
.header {
    width: 100%;
    height: 87vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Assets/Header/Background.jpg");
}

.text-wrapper {
    display: block;
    margin-left: 28%;
    padding-top: 14%;
    font-size: 30px;
    color: white;
    position: relative;
}

#particles-js {
    width: 100%;
    height: 50%;
}

/* Body */

/* Footer */
.footer {
    text-align: center;
    background-color: #1f271b;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    color: white;
}

.footer-logo {
    height: 35px;
    background-repeat: no-repeat;
    background-image: url("Assets/Navbar/Logo.png");
    background-position: 50% 2px;
    background-size: 170px
}

/*
    Colors:

    Black: #1f271b
    Dark blue: #0b4f6c
    Light blue: #145c9e
    Dark Silver: #cbb9a8
    Skin color: #dcc7be
*/